<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.davsx.llearn"
          tools:ignore="InnerclassSeparator"
        >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:icon="@mipmap/ic_launcher_icon"
            android:roundIcon="@mipmap/ic_launcher_icon"
            android:label="@string/app_name"
            android:name=".LLearnApplication"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >

        <activity
                android:name=".activities.Main.MainActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.ManageCards.ManageCardsActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.CardEditor.CardEditorActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.ManageCards.ManageCardsActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/png"/>
                <data android:mimeType="image/gif"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.LearnQuiz.LearnQuizActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.ReviewQuiz.ReviewQuizActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.BackupCreate.BackupCreateActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.BackupImport.BackupImportActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.KindleImport.KindleImportActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.ManageCards.ManageCardsActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="message/rfc822"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.MemriseImport.MemriseImportActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.ManageCards.ManageCardsActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.Settings.SettingsActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".activities.Main.MainActivity"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <receiver android:name=".service.BootReceiver.BootReceiverService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.WordOfTheDay.WordOfTheDayNotificationService">
            <intent-filter>
                <action android:name="com.github.davsx.llearn.WordOfTheDay"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>